@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Color */
    --yellow: rgb(252, 183, 43);
    --dark-navy: rgb(73, 85, 103);
    --bc-footer: rgb(51, 58, 68);
    --dim-grey: rgb(147, 156, 170);
    --light-grey: rgb(229, 236, 244);
    --snow: rgb(242, 245, 249);
    --light-yellow: rgb(255, 244, 223);
    --white: #fff;

    /* Typography */

    --font-lexend: "Lexend Deca", sans-serif;
    --font-space: "Space Mono", monospace;

    /* Transition */
    --transition: all 0.5s ease-in-out;

    /* Padding */
    --padding-mobile: 35px;
    --padding-tablet: 40px;
    --padding-descktop: 55px;

    /* Breaking pointer */
    --descktop: 1024;

    /* keyframe */
    --animation-fly-in: fly-in linear both;
    --animation-fade: fade linear both;

    --animation-timeline: view(block);
    --animation-range: cover 0% cover 35%
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-lexend);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    overflow-x: hidden;
}

/* h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    font-weight: bold;
    font-family: var(--font-space);
}

h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 2.14px;
    font-weight: bold;
    font-family: var(--font-space);
}

h3 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
    font-weight: bold;
    font-family: var(--font-space);
}

h4 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
    font-weight: bold;
    font-family: var(--font-space);
} */

p {

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    display: flex;
    width: 195px;
    height: 48px;
    background-color: var(--yellow);
    color: var(--white);
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    font-family: var(--font-space);
    font-weight: bold;
}

.btn:hover {
    background-color: transparent;
    color: var(--yellow);
    border: 2px solid var(--yellow);
}

/* Keyframe */
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fly-in {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes fly-in-right {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    padding: 0 var(--padding-mobile);
    position: relative;
}

/* Header button */

.header #button_header {
    height: 100%;
    background: transparent;
    border: none;
}

.button_header,
.bar {
    position: relative;
}

.header .button_header .burgue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 30px;
    height: 32px;
}

.header .button_header .burgue .bar{
    width: 100%;
    height: 5px;
    background-color: var(--yellow);
}

.header .open .burgue #bar1 {
    transform: rotate(45deg) translate(6px, 6px);
}

.header .open .burgue #bar2 {
    background: transparent;
}

.header .open .burgue #bar3 {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* Header logo */

.header .logo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header .logo a {
    color: var(--dark-navy);
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -1.07px;
    font-weight: bold;
    font-family: var(--font-space);
}

/* Header navbar */
.header .navbar {
    position: fixed;
    top: 70px;
    left: 0;
    background: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: auto;
    transition: var(--transition);
    z-index: 1;
}

.header .navbar .nav-menu {
    background: var(--dark-navy);
    width: 70%;
    height: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .navbar .nav-menu .nav .nav_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header .navbar .nav-menu .nav .nav_list a {
    font-size: 1.2em;
    color: var(--light-grey);
    font-family: var(--font-space);
    font-weight: 400;
    transition: var(--transition);
}

.header .navbar .nav-menu .nav .nav_list a:hover,
.footer .navbar-footer .navlist-footer .navlink-footer a:hover
{
    color: var(--yellow);
}

.header .active {
    height: calc(100vh - 70px);
    visibility: visible;
}

/* Main */


/* Main-header */

.main .main-header {
    padding: 0 var(--padding-mobile);
    background: url(../assets/images/home-hero-mobile.jpg) no-repeat top / cover;
    width: 100%;
    max-height: 450px;
    aspect-ratio: 375 / 450;
}

.main .main-header .main-container {
    width: 314px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    color: var(--white);
    margin: auto;
}

.main .main-header .main-container h1{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
    font-weight: bold;
    font-family: var(--font-space);
}

.main .main-header .arrow-rigth {
    background: url(../assets/patterns/right-arrow.svg) no-repeat center / cover;
    width: 452px;
    height: 151px;
    position: relative;
    left: -338px;
    bottom: 25px;
}

/* Main content */

.main .main-content {
    padding: 100px var(--padding-mobile);
}

.main .main-content .main-content-container {
    display: grid;
    gap: 45px;
}


.main .main-content .main-content-container .description{
    display: flex;
    width: 315px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    animation: var(--animation-fade);
    animation-timeline: var(--animation-timeline);
    animation-range: var(--animation-range);
}

.main .main-content .main-content-container .description .img {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .main-content .main-content-container .description .text-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.main .main-content .main-content-container .locate .img-locate {
    background-image: url(../assets/icons/locate.svg);
}

.main .main-content .main-content-container .scooter .img-scooter {
    background-image: url(../assets/icons/scooter.svg);
}

.main .main-content .main-content-container .enjoy .img-enjoy {
    background-image: url(../assets/icons/ride.svg);
}

.main .main-content .main-content-container .description h4{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1.07px;
    font-weight: bold;
    font-family: var(--font-space);
    color: var(--dark-navy);
}

.main .main-content .main-content-container .description p{
    color: var(--dim-grey);
}

/* Main footer */

.main-footer .main-footer-content {
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding: 0 var(--padding-mobile);
}

.main-footer .main-footer-content .description {
    position: relative;
}

.main-footer .main-footer-content .description .img {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}

.main-footer .main-footer-content .telemetry .img-telemetry {
    background-image: url(../assets/images/telemetry.jpg);
}

.main-footer .main-footer-content .city .img-city {
    background-image: url(../assets/images/near-you.jpg);
}

.main-footer .main-footer-content .zero .img-zero {
    background-image: url(../assets/images/payments.jpg);
}

.main .main-footer-content .description .text-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 311px;
    margin: 25px auto;
    animation: var(--animation-fade);
    animation-timeline: var(--animation-timeline);
    animation-range: var(--animation-range);
}

.main .main-footer-content .description .text-description h4 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1.07px;
    font-weight: bold;
    font-family: var(--font-space);
    color: var(--dark-navy);
}

.main .main-footer-content .description .text-description p {
    color: var(--dim-grey);
}

.main .main-footer-content .description .arrow-left {
    background: url(../assets/patterns/left-downward-arrow.svg) no-repeat center /cover;
    width: 741px;
    height: 151px;
    position: absolute;
    top: 160px;
}

.main .main-footer-content .description .arrow-rigth {
    background: url(../assets/patterns/right-arrow.svg) no-repeat center /cover;
    width: 452px;
    height: 151px;
    position: absolute;
    top: 0;
    left: -215px;
}

.main .main-footer-content .zero .arrow-left {
    background: url(../assets/patterns/left-downward-arrow.svg) no-repeat center /cover;
    width: 741px;
    height: 151px;
    position: absolute;
    top: 0;
    right: -530px;
}

/* Main footer keyfram */
.main .main-footer-content .telemetry .img-telemetry,
.main .main-footer-content .zero .img-zero,
.main .main-footer-content .description .arrow-left {
    animation: fly-in linear both;
    animation-timeline: var(--animation-timeline);
    animation-range: var(--animation-range);
}

.main-footer .main-footer-content .city .img-city {
    animation: fly-in-right linear both;
    animation-timeline: var(--animation-timeline);
    animation-range: var(--animation-range);
}


/* Sign up */

.main .sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background:var(--dark-navy);
    padding: 80px var(--padding-mobile);
    position: relative;
    margin-top: 100px;
}

.main .sign-up .sign-up-text h3 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
    font-weight: bold;
    font-family: var(--font-space);
    text-align: center;
    color: var(--white);
}

.main .sign-app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.main .sign-app i img {
    width: 152px;
    height: 48px;
    object-fit: contain;
}

.main .sign-up .circle {
    width: 1158px;
    height: 158px;
    background: url(../assets/patterns/semi-circles.svg) no-repeat center / cover;
    position: absolute;
    bottom: 0;
    right: -158px;
}

/* Footer */
#footer {
    background: var(--bc-footer);
    padding: 80px var(--padding-mobile);
    
}

.footer,
.footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.footer .footer-container .logo-footer a {
    color: var(--white);
    font-size: 45px;
    line-height: 28px;
    letter-spacing: -1.07px;
    font-weight: bold;
    font-family: var(--font-space);
}

.footer .navbar-footer .navlist-footer {
    display: grid;
    gap: 15px;
    font-size: 1.2em;
}

.footer .navbar-footer .navlist-footer .navlink-footer {
    text-align: center;
}

.footer .navbar-footer .navlist-footer .navlink-footer a {
    color: var(--dim-grey);
    transition: var(--transition);
}

.footer .social-media {
    display: flex;
    gap: 25px;
}

.footer .social-media a i{
    font-size: 2em;
    color: var(--yellow);
    transition: var(--transition);
}

.footer .social-media a i:hover{
    color: var(--dim-grey);
}

@media screen and (min-width: 768px) {
    .btn {
        width: 211px;
        height: 60px;
        font-size: 18px;
    }

    #header {
        height: 90px;
        padding: 0 var(--padding-tablet);
        gap: 55px;
    }

    .header #button_header {
        display: none;
    }

    .header .logo {
        width: auto;
    }

    .header .logo a {
        font-size: 38px;
        line-height: 38px;
    }

    .header .navbar {
        position: static;
        background: transparent;
        width: 100%;
        height: auto;
        visibility: visible;
    }

    .header .navbar .nav-menu {
        background: transparent;
        width: 100%;
        height: 100%;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header .navbar .nav-menu .nav .nav_list {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .header .navbar .nav-menu .nav .nav_list a {
        color: var(--dim-grey);
        font-family: var(--font-space);
        font-weight: bold;
        letter-spacing: 1px;
    }

    .main .main-header {
        position: relative;
        padding: 0 var(--padding-tablet);
        background: url(../assets/images/home-hero-tablet.jpg) no-repeat top / cover;
        width: 100%;
        max-height: 650px;
        aspect-ratio: 768 / 650;
    }

    .main .main-content {
        padding: 100px var(--padding-tablet);
        position: relative;
    }

    .main .main-header .main-container {
        width: 100%;
    }

    .main .main-header .main-container h1 {
        width: 490px;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        font-weight: bold;
        font-family: var(--font-space);
    }

    .main .main-header .main-container p {
        font-size: 18px;
        line-height: 30px;
    }

    .main .main-header .arrow-rigth {
        background: url(../assets/patterns/right-arrow.svg) no-repeat center / cover;
        width: 452px;
        height: 151px;
        position: relative;
        left: -162px;
        bottom: 50px;
    }

    .main .main-header .complited-circle{
        display: flex;
        gap: 35px;
        position: absolute;
        right: -50px;
        bottom: 50px;
    }

    .main .main-header .complited-circle .circle {
        background-color: transparent;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 4px solid var(--white);
    }

    .main .main-header .complited-circle #cicle3 {
        background-color: var(--white);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: none;
    }

    .main .main-content .line {
        background: var(--light-grey);
        width: 25px;
        height: 80%;
        position: absolute;
        top: 0;
        margin-left: 33px;
    }

    .main .main-content .main-content-container .description {
        width: 100%;
        flex-direction: row;
        gap: 0;
    }

    .main .main-content .main-content-container .description .img {
        width: 96px;
        height: 96px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .main .main-content .main-content-container .description .text-description {
        align-items: self-start;
        text-align: left;
        width: 67%;
    }

    .main .main-content .main-content-container .description h4 {
        font-size: 25px;
    }

    .main .main-content .main-content-container .description p,
    .main .main-footer-content .description .text-description p {
        font-size: 17px;
    }

    .main-footer .main-footer-content .description .img {
        width: 445px;
        height: 445px;
    }

    .main .main-footer-content .description .text-description {
        gap: 35px;
        margin: 35px auto;
        width: 647px;
    }

    .main .main-footer-content .description .text-description h4 {
        font-size: 50px;
        line-height: 50px;
        width: 485px;
    }

    .main .main-footer-content .telemetry  .arrow-left {
        top: 297px;
    }

    .main .main-footer-content .description .arrow-rigth {
        top: 13px;
        left: -152px;
    }

    .main .main-footer-content .zero .arrow-left {
        top: 90px;
        right: -419px;
    }

    .main .sign-up .sign-up-text h3 {
        width: 376px;
        font-size: 43px;
        line-height: 45px;
    }

    #footer {
        padding: var(--padding-mobile);
    }

    .footer, 
    .footer .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer .navbar-footer .navlist-footer {
        display: flex;
        gap: 25px;
    }

    .footer .navbar-footer .navlist-footer .navlink-footer a {
        font-size: 21px;
    }
}